Source: oda
Section: science
Priority: optional
Maintainer: Olivier Lahaye <olivier.lahaye@cea.fr>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.7.2

Package: oda
Architecture: all
Depends: ${misc:Depends}, liboscar-server (>= 6.2.1), orm
Description: OSCAR DatabAse
 Set of scripts and Perl modules for the management of the OSCAR database.
